Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,html}": ["prettier --write"]
}

update
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

bump data version
  package-lock.json
  package.json
Due: prettier --write

Use de-duplicated species data methods (#214)
  package-lock.json
  package.json
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

chore: replace npm with pnpm
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add pnpm versions to package.json
  package.json
Due: prettier --write

fix: README pnpm install instructions
  README.md
Due: none

fix: remove clean command
  package.json
Due: prettier --write

refactor: split out ci jobs
  .github/workflows/checks.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .prettierignore
  package.json
Due: prettier --write

chore: add .pnpmfile.cjs file
  .pnpmfile.cjs
  pnpm-lock.yaml
Due: none

fix: remove setting type
  package.json
Due: prettier --write

chore: replace npm with pnpm (#216)
  .github/workflows/checks.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .pnpmfile.cjs
  .prettierignore
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix dependency overrides for pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix dependency overrides for pnpm (#218)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add Bluesky to welcome card
  src/components/Welcome.tsx
  src/components/icons/IconBluesky.tsx
Due: eslint --fix, prettier --write

Replace Twitter icon with X icon
  src/components/Welcome.tsx
  src/components/icons/IconTwitter.tsx
Due: eslint --fix, prettier --write

Add Bluesky to welcome card (+ update Twitter/X icon) (#221)
  src/components/Welcome.tsx
  src/components/icons/IconBluesky.tsx
  src/components/icons/IconTwitter.tsx
Due: eslint --fix, prettier --write

Handle keyboard-triggered click events correctly
  src/utils/dom.ts
Due: eslint --fix, prettier --write

Handle keyboard-triggered click events correctly (#225)
  src/utils/dom.ts
Due: eslint --fix, prettier --write

Switch @alveusgg/data dependency to GitHub Packages
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update Actions workflow with registry auth
  .github/workflows/checks.yml
Due: none

Add registry auth to README
  README.md
Due: none

Update all @alveusgg/data imports to use build dir
  src/hooks/useAmbassadors.tsx
  src/tailwind.config.ts
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Remove pnpm GitHub SSH dep fix
  .pnpmfile.cjs
  pnpm-lock.yaml
Due: none

Switch @alveusgg/data dependency to GitHub Packages (#226)
  .github/workflows/checks.yml
  .npmrc
  .pnpmfile.cjs
  README.md
  package.json
  pnpm-lock.yaml
  src/hooks/useAmbassadors.tsx
  src/tailwind.config.ts
  src/webpack.config.ts
Due: eslint --fix, prettier --write

FIx build command for pnpm
  RELEASE.md
Due: none

Update external links (X/Twitter + Bluesky)
  RELEASE.md
Due: none

Determine new version as first step
  RELEASE.md
Due: none

Minor tweaks to release process notes (#228)
  RELEASE.md
Due: none

Remove CSS module types
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Update process.env types
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Remove legacy Twitch developer rig JSON
  Alveus Ambassadors.json
Due: prettier --write

Remove legacy ESLint JSON
  .eslintrc.json
Due: prettier --write

Remove unused ts-expect-error from ESLint config
  eslint.config.mjs
Due: none

Misc. dev meta cleanup (#229)
  .eslintrc.json
  Alveus Ambassadors.json
  eslint.config.mjs
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Explicitly define npmjs as default registry
  .npmrc
Due: none

Allow Dependabot to authenticate with GitHub Packages
  .github/dependabot.yml
Due: none

Allow Dependabot to access @alveusgg/data from GitHub Packages (#230)
  .github/dependabot.yml
  .npmrc
Due: none

Update to Tailwind v4
  package.json
  pnpm-lock.yaml
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Update @alveusgg/data version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate config to v4
  src/pages/overlay/globals.css
  src/pages/panel/globals.css
  src/styles/tailwind.css
  src/tailwind.config.ts
Due: eslint --fix, prettier --write
