Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use serif font for large headings to match website
  src/components/Card.tsx
Due: eslint --fix, prettier --write

Add preconnects for Google Fonts + Twitch helper
  src/template.html
Due: prettier --write

Match fonts used on website + improve approx. tilde clarity (#189)
  src/components/AmbassadorCard.tsx
  src/components/Card.tsx
  src/pages/overlay/globals.css
  src/pages/panel/globals.css
  src/tailwind.config.ts
  src/template.html
Due: eslint --fix, prettier --write

Update data (fix Tailwind extend)
  package-lock.json
  package.json
Due: prettier --write

Update data (fix Tailwind extend) (#193)
  package-lock.json
  package.json
Due: prettier --write

Add ambassador lifespans
  package-lock.json
  package.json
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.ts
Due: eslint --fix, prettier --write

Update data (mark Nilla Wafer as retired)
  package-lock.json
  package.json
Due: prettier --write

Fix Winston lifespan
  src/hooks/useAmbassadors.ts
Due: eslint --fix, prettier --write

Update data (mark Nilla Wafer as retired) (#195)
  package-lock.json
  package.json
  src/hooks/useAmbassadors.ts
Due: eslint --fix, prettier --write

Add dependabot config for GitHub Actions + NPM
  .github/dependabot.yml
Due: none

Add dependabot config for GitHub Actions + NPM (#196)
  .github/dependabot.yml
Due: none

Add ambassador lifespans
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Add ambassador species lifespans (#194)
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Upgrade eslint to v9
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Add provider for storing ambassadors
  src/hooks/useAmbassadors.tsx
  src/pages/overlay/App.tsx
  src/pages/panel/App.tsx
Due: eslint --fix, prettier --write

Use context to get ambassadors
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
  src/hooks/useChatCommand.ts
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/panel/components/Ambassadors.tsx
Due: eslint --fix, prettier --write

Use Zod schema for Ambassador type
  package-lock.json
  package.json
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

Fetch ambassadors from the website API
  .env.development.sample
  .env.sample
  package-lock.json
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

Update data
  package-lock.json
Due: prettier --write

Fix webpack compilation by removing type: module and making eslintconfig a esmodule file. Clean up eslint command.
  eslint.config.mjs
  package.json
Due: prettier --write

Enable and fix typescript issues in eslint.config
  eslint.config.mjs
Due: none

Fetch ambassadors from the website API
  .env.development.sample
  .env.sample
  RELEASE.md
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

Fetch ambassadors from website API (#205)
  .env.development.sample
  .env.sample
  RELEASE.md
  package-lock.json
  package.json
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.ts
  src/hooks/useAmbassadors.tsx
  src/hooks/useChatCommand.ts
  src/pages/overlay/App.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/panel/App.tsx
  src/pages/panel/components/Ambassadors.tsx
Due: eslint --fix, prettier --write

Replace npm-run-all with maintained npm-run-all2
  package-lock.json
  package.json
Due: prettier --write

Make approach more consistent with alveusgg
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

Upgrade Eslint to v9 (#204)
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

Update to React 19
  package-lock.json
  package.json
Due: prettier --write

Fix global JSX type usage
  src/pages/overlay/components/Buttons.tsx
Due: eslint --fix, prettier --write

Fix missing initial values for useRef usages
  src/components/AmbassadorCard.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/hooks/useIntelligentTimer.ts
Due: eslint --fix, prettier --write

Replace forwardRef usage with ref prop
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Replace Context.Provider usages with Context directly
  src/hooks/useAmbassadors.tsx
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
Due: eslint --fix, prettier --write

Fix Tooltip ReactElement onMouseEnter prop
  src/components/Tooltip.tsx
Due: eslint --fix, prettier --write

Update to Node.js 22
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Update to React 19 (#210)
  package-lock.json
  package.json
  src/components/AmbassadorCard.tsx
  src/components/Tooltip.tsx
  src/hooks/useAmbassadors.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/hooks/useIntelligentTimer.ts
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
Due: eslint --fix, prettier --write

Use de-duplicated species data methods
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

Update to Node.js 22 (#211)
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,json,html})
