Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,html}": ["prettier --write"]
}

Refactor formatDate to use PartialDate type
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Refactor sortPartialDates to use PartialDate type
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Use Alveus timezone + Luxon for age computation
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Use Alveus timezone for birthday/age logic (#267)
  .env.sample
  package.json
  pnpm-lock.yaml
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/react-app-env.d.ts
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Move Webpack config to root
  package.json
  tsconfig.json
  webpack.config.ts
Due: eslint --fix, prettier --write

Run Prettier against all files
  .lintstagedrc.json
  LICENSE.md
  RELEASE.md
  package.json
  public/index.html
Due: prettier --write

Run lint-staged directly from husky
  .husky/pre-commit
  package.json
Due: prettier --write

Move Webpack to root + run Prettier on all files (#275)
  .husky/pre-commit
  .lintstagedrc.json
  LICENSE.md
  RELEASE.md
  package.json
  public/index.html
  tsconfig.json
  webpack.config.ts
Due: eslint --fix, prettier --write

Enable minification for production builds
  webpack.config.ts
Due: eslint --fix, prettier --write

Include GitHub diff in review notes
  RELEASE.md
Due: none

Enable minification for production builds (#276)
  RELEASE.md
  webpack.config.ts
Due: eslint --fix, prettier --write

Use Alveus timezone for ambassador hook date check
  src/hooks/useAmbassadors.tsx
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Use Alveus timezone for ambassador hook date check (#277)
  src/hooks/useAmbassadors.tsx
  src/utils/dateManager.ts
Due: eslint --fix, prettier --write

Test change
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Add GitHub codeowners file
  .github/CODEOWNERS
Due: none

Add GitHub codeowners file (#282)
  .github/CODEOWNERS
Due: none

Update data (tsup build)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix API Ambassador image src type
  src/hooks/useAmbassadors.tsx
Due: eslint --fix, prettier --write

Data package no longer needs to be transpiled
  webpack.config.ts
Due: eslint --fix, prettier --write

Rollback fork-ts-checker-webpack-plugin to fix EMFILE: too many open files
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "Rollback fork-ts-checker-webpack-plugin to fix EMFILE: too many open files"
  package.json
  pnpm-lock.yaml
Due: prettier --write

Ignore node_modules for local development watch
  webpack.config.ts
Due: eslint --fix, prettier --write

Ignore node_modules for local development watch (#284)
  webpack.config.ts
Due: eslint --fix, prettier --write

Add light ring to buttons
  src/components/AmbassadorButton.tsx
  src/components/Ring.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
Due: eslint --fix, prettier --write

Add enclosure to ambassador cards
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Update ambassador data to v3 schema w/ enclosure key
  src/components/AmbassadorCard.tsx
  src/hooks/useAmbassadors.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
Due: eslint --fix, prettier --write

Add link to enclosure heading on ambassadors page
  src/components/AmbassadorCard.tsx
  src/components/icons/IconExternal.tsx
Due: eslint --fix, prettier --write

Add light ring to cards
  src/components/AmbassadorCard.tsx
  src/components/Card.tsx
  src/components/Ring.tsx
Due: eslint --fix, prettier --write

Add light box rings to buttons + cards (#289)
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/components/Card.tsx
  src/components/Ring.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
Due: eslint --fix, prettier --write

Add enclosure to ambassador cards (#290)
  src/components/AmbassadorCard.tsx
  src/components/icons/IconExternal.tsx
  src/hooks/useAmbassadors.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
Due: eslint --fix, prettier --write

Update data (tsup build) (#283)
  package.json
  pnpm-lock.yaml
  src/hooks/useAmbassadors.tsx
  webpack.config.ts
Due: eslint --fix, prettier --write

Set moduleResolution to bundler in tsconfig
  tsconfig.json
Due: prettier --write

Replace npm-run-all2 w/ pnpm run pattern
  package.json
  pnpm-lock.yaml
Due: prettier --write
