Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

Pin alveusgg/data version (#124)
  package-lock.json
  package.json
Due: eslint, prettier --check

Minor dependency updates
  package-lock.json
  package.json
Due: eslint, prettier --check

Major dependency updates
  package-lock.json
  package.json
Due: eslint, prettier --check

Fix package vulnerabilities + dedupe
  package-lock.json
Due: eslint, prettier --check

Update + pin Node.js version
  .nvmrc
  package-lock.json
  package.json
Due: eslint, prettier --check

Sort package JSON properties
  package.json
Due: eslint, prettier --check

Remove React imports, react-jsx doesn't need them
  .eslintrc.json
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/card/Card.tsx
  src/pages/overlay/components/overlay/settings/Settings.tsx
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/App.tsx
  src/pages/panel/components/nav/Nav.tsx
  src/pages/panel/index.tsx
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Remove React imports for JSX (#126)
  .eslintrc.json
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/card/Card.tsx
  src/pages/overlay/components/overlay/settings/Settings.tsx
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/App.tsx
  src/pages/panel/components/nav/Nav.tsx
  src/pages/panel/index.tsx
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Update dependencies (#125)
  .nvmrc
  package-lock.json
  package.json
Due: eslint, prettier --check

Re-order existing facts in ambassador card
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Add classification to ambassador card
  src/utils/ambassadors.ts
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Add "native to" to ambassador card
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Add native to information on ambassador cards (#127)
  src/utils/ambassadors.ts
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint, prettier --check

Reorganize global hooks + components
  src/components/ambassadorButton/AmbassadorButton.tsx
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/components/tooltip/Tooltip.tsx
  src/components/tooltip/tooltip.module.scss
  src/hooks/useChatCommand.ts
  src/hooks/useTwitchAuth.ts
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/components/ambassadorCardOverlay/AmbassadorCardOverlay.tsx
  src/pages/panel/components/ambassadorPanel/AmbassadorPanel.tsx
  src/pages/panel/index.tsx
  src/utils/twitch-api.ts
  src/utils/twitchApi.ts
Due: eslint, prettier --check

Import cleanup
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/tooltip/Tooltip.tsx
  src/pages/overlay/App.tsx
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/overlay/settings/Settings.tsx
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
  src/pages/panel/components/ambassadorCardOverlay/AmbassadorCardOverlay.tsx
  src/pages/panel/components/ambassadorPanel/AmbassadorPanel.tsx
  src/pages/panel/components/nav/Nav.tsx
Due: eslint, prettier --check

Reorganize global hooks + components (#131)
  src/components/ambassadorButton/AmbassadorButton.tsx
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/components/tooltip/Tooltip.tsx
  src/components/tooltip/tooltip.module.scss
  src/hooks/useChatCommand.ts
  src/hooks/useTwitchAuth.ts
  src/pages/overlay/App.tsx
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/overlay/settings/Settings.tsx
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/components/ambassadorCardOverlay/AmbassadorCardOverlay.tsx
  src/pages/panel/components/ambassadorPanel/AmbassadorPanel.tsx
  src/pages/panel/components/nav/Nav.tsx
  src/pages/panel/index.tsx
  src/utils/twitch-api.ts
  src/utils/twitchApi.ts
Due: eslint, prettier --check

Consistent outline/shadow styling
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/pages/overlay/components/buttons/buttons.module.scss
  src/pages/overlay/components/card/card.module.scss
  src/pages/overlay/components/overlay/ambassadors/ambassadors.module.scss
  src/variables.scss
Due: prettier --check

Replace switch toggle with checkbox toggle
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/components/toggle/toggle.module.scss
Due: eslint, prettier --check

Tweak shadow to be less aggressive
  src/variables.scss
Due: prettier --check

Replace settings switch toggles with checkboxes (#130)
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/pages/overlay/components/buttons/buttons.module.scss
  src/pages/overlay/components/card/card.module.scss
  src/pages/overlay/components/overlay/ambassadors/ambassadors.module.scss
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/components/toggle/toggle.module.scss
  src/variables.scss
Due: eslint, prettier --check

Update text in welcome card to match command
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
Due: eslint, prettier --check

Show Twitch link when not on Alveus's channel
  src/components/icons/IconTwitch.tsx
  src/hooks/useChannel.ts
  src/hooks/useChatCommand.ts
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
Due: eslint, prettier --check

Use SVG icons for welcome card
  src/assets/welcome/amazonWishlist.png
  src/assets/welcome/github.png
  src/assets/welcome/instagram.png
  src/assets/welcome/tiktok.png
  src/assets/welcome/twitter.png
  src/assets/welcome/website.png
  src/components/icons/BaseIcon.tsx
  src/components/icons/IconAmazon.tsx
  src/components/icons/IconGitHub.tsx
  src/components/icons/IconGlobe.tsx
  src/components/icons/IconInstagram.tsx
  src/components/icons/IconTikTok.tsx
  src/components/icons/IconTwitter.tsx
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/components/overlay/welcome/welcome.module.scss
Due: eslint, prettier --check

Remove react-app-rewired-multiple-entry from README
  README.md
Due: none

Add NPM prepare script for husky install
  package.json
Due: eslint, prettier --check

Husky pre-commit hook needs to be executable
  .husky/pre-commit
Due: none

Update welcome message copy, use SVG icons, show Twitch link (#132)
  src/assets/welcome/amazonWishlist.png
  src/assets/welcome/github.png
  src/assets/welcome/instagram.png
  src/assets/welcome/tiktok.png
  src/assets/welcome/twitter.png
  src/assets/welcome/website.png
  src/components/icons/BaseIcon.tsx
  src/components/icons/IconAmazon.tsx
  src/components/icons/IconGitHub.tsx
  src/components/icons/IconGlobe.tsx
  src/components/icons/IconInstagram.tsx
  src/components/icons/IconTikTok.tsx
  src/components/icons/IconTwitch.tsx
  src/components/icons/IconTwitter.tsx
  src/hooks/useChannel.ts
  src/hooks/useChatCommand.ts
  src/pages/overlay/components/overlay/welcome/Welcome.tsx
  src/pages/overlay/components/overlay/welcome/welcome.module.scss
Due: eslint, prettier --check

Remove react-app-rewired-multiple-entry from README (#133)
  README.md
Due: none

Fix husky installation + pre-commit hook (#135)
  .husky/pre-commit
  package.json
Due: eslint, prettier --check

Clean up ambassador buttons
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/variables.scss
Due: prettier --check

Clean up ambassador cards
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/utils/ambassadors.ts
Due: eslint, prettier --check

Clean up ambassador overlay list
  src/assets/arrow.png
  src/components/icons/IconChevron.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/overlay/ambassadors/ambassadors.module.scss
  src/pages/overlay/index.scss
  src/variables.scss
Due: eslint, prettier --check

Use SVG icons for overlay buttons
  src/assets/alveus.png
  src/assets/mod.png
  src/assets/mod.svg
  src/assets/overlay/ambassadors.png
  src/assets/overlay/settings.png
  src/assets/overlay/welcome.png
  src/assets/party.png
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/components/icons/IconAmbassadors.tsx
  src/components/icons/IconCheck.tsx
  src/components/icons/IconSettings.tsx
  src/components/icons/IconWelcome.tsx
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/buttons/buttons.module.scss
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/components/toggle/toggle.module.scss
  src/pages/panel/components/nav/Nav.tsx
Due: eslint, prettier --check

Updated SVG icon for info tooltip
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/icons/IconInfo.tsx
Due: eslint, prettier --check

Distinguish headings in card with color
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/variables.scss
Due: prettier --check

Tweak spacing around scrollable info in card
  src/components/ambassadorCard/ambassadorCard.module.scss
Due: prettier --check

Reduce padding around name/species on buttons
  src/components/ambassadorButton/ambassadorButton.module.scss
Due: prettier --check

Improve vertical alignment of name in card
  src/components/ambassadorCard/ambassadorCard.module.scss
Due: prettier --check

Fix odd scroll position on load
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
Due: eslint, prettier --check

UI cleanup (improved ambassador buttons/cards/list, SVG icons) (#137)
  src/assets/alveus.png
  src/assets/arrow.png
  src/assets/mod.png
  src/assets/mod.svg
  src/assets/overlay/ambassadors.png
  src/assets/overlay/settings.png
  src/assets/overlay/welcome.png
  src/assets/party.png
  src/components/ambassadorButton/ambassadorButton.module.scss
  src/components/ambassadorCard/AmbassadorCard.tsx
  src/components/ambassadorCard/ambassadorCard.module.scss
  src/components/icons/IconAmbassadors.tsx
  src/components/icons/IconCheck.tsx
  src/components/icons/IconChevron.tsx
  src/components/icons/IconInfo.tsx
  src/components/icons/IconSettings.tsx
  src/components/icons/IconWelcome.tsx
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/buttons/buttons.module.scss
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/overlay/ambassadors/ambassadors.module.scss
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/components/toggle/toggle.module.scss
  src/pages/overlay/index.scss
  src/pages/panel/components/nav/Nav.tsx
  src/utils/ambassadors.ts
  src/variables.scss
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,json}
  prettier --check: (any of: *.{js,jsx,ts,tsx,json}) or (any of: *.{css,scss})
