Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}", prettier --check "src/**/*.{css,scss}"

change prettier to recommended prettier plugin
  .eslintrc.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

for eslint and prettier to work together, needs the dependency
  .eslintrc.json
  package.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Make tooltips accessible, avoid wrapper element (#108)
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/buttons/buttons.module.scss
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
  src/utils/global/ambassadorCard/ambassadorCard.module.scss
  src/utils/global/tooltip/Tooltip.tsx
  src/utils/global/tooltip/tooltip.module.scss
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}", prettier --check "src/**/*.{css,scss}"

remove eslint-config-react-app dependency
  package.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

don't specify file exts as lint-staged passes changed files
  .lintstagedrc.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

default command uses default config file
  .husky/pre-commit
Due: none

Update .husky/pre-commit
  .husky/pre-commit
Due: none

Add document capturing Twitch release process (#95)
  RELEASE.md
Due: none

Fix ambassador key checking, fix welcome command
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fix ambassador key checking, fix welcome command (#109)
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Allow multiple privileged users
  .env.sample
  src/utils/chatCommand.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Allow multiple privileged users (#110)
  .env.sample
  src/utils/chatCommand.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fixes to package.json + AmbassadorCard
  package-lock.json
  package.json
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Move scroll detection to hook, require user event
  src/pages/overlay/App.tsx
  src/pages/overlay/hooks/useScrolling.tsx
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fix scrolling ref cleanup
  src/pages/overlay/hooks/useScrolling.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Move scroll detection to hook, require user event (#112)
  src/pages/overlay/App.tsx
  src/pages/overlay/hooks/useScrolling.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Listen for wheel/touch/key events directly, remove scroll logic
  src/pages/overlay/App.tsx
  src/pages/overlay/hooks/useScrolling.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Listen for wheel/touch/key events directly, remove scroll logic (#114)
  src/pages/overlay/App.tsx
  src/pages/overlay/hooks/useScrolling.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

fix(overlay): rework active ambassador state, move it to the Overlay to fix repeated commands not showing the ambassador card
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fix ambassador card not reopening on repeated commands (#113)
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Add SpaceVoyage to privileged users list
  .env.sample
Due: none

Add SpaceVoyage to privileged users list (#116)
  .env.sample
Due: none

Add note to release doc for tagging versions
  RELEASE.md
Due: none

Add note to release doc for tagging versions (#119)
  RELEASE.md
Due: none

Update data (remove ducky, update images)
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Update data (remove ducky, update images) (#120)
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Remove unused testing dependencies
  package-lock.json
  package.json
  src/pages/panel/App.test.tsx
  src/setupTests.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Minor dependency updates
  package-lock.json
  package.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Major dependency updates
  package-lock.json
  package.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fix formatting issues with Prettier
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/hooks/useHiddenCursor.ts
  src/pages/overlay/hooks/useIntelligentTimer.ts
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/components/ambassadorCardOverlay/AmbassadorCardOverlay.tsx
  src/pages/panel/components/ambassadorPanel/AmbassadorPanel.tsx
  src/pages/panel/index.tsx
  src/utils/chatCommand.ts
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
  src/utils/global/tooltip/Tooltip.tsx
  src/utils/helpers.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

npm audit fix
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Update dependencies (#121)
  package-lock.json
  package.json
  src/pages/overlay/components/buttons/Buttons.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/ambassadors/Ambassadors.tsx
  src/pages/overlay/components/toggle/Toggle.tsx
  src/pages/overlay/hooks/useHiddenCursor.ts
  src/pages/overlay/hooks/useIntelligentTimer.ts
  src/pages/overlay/hooks/useSettings.tsx
  src/pages/overlay/hooks/useSleeping.tsx
  src/pages/overlay/index.tsx
  src/pages/panel/App.test.tsx
  src/pages/panel/components/ambassadorCardOverlay/AmbassadorCardOverlay.tsx
  src/pages/panel/components/ambassadorPanel/AmbassadorPanel.tsx
  src/pages/panel/index.tsx
  src/setupTests.ts
  src/utils/chatCommand.ts
  src/utils/global/ambassadorCard/AmbassadorCard.tsx
  src/utils/global/tooltip/Tooltip.tsx
  src/utils/helpers.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Use custom Webpack config
  .env.development.local.sample
  .env.development.sample
  .env.sample
  .gitignore
  README.md
  RELEASE.md
  config-overrides.js
  package-lock.json
  package.json
  public/index.html
  src/react-app-env.d.ts
  src/template.html
  src/webpack.config.ts
  tsconfig.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Fix react-refresh usage
  package-lock.json
  package.json
  src/webpack.config.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Ensure compatibility using browserslist
  package-lock.json
  package.json
  src/webpack.config.ts
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Use custom Webpack config (#122)
  .env.development.local.sample
  .env.development.sample
  .env.sample
  .gitignore
  README.md
  RELEASE.md
  config-overrides.js
  package-lock.json
  package.json
  public/index.html
  src/react-app-env.d.ts
  src/template.html
  src/webpack.config.ts
  tsconfig.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Update data (add foxes' animal quest, fix foxes + skink species)
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Update data (add foxes' animal quest, fix foxes + skink species) (#123)
  package-lock.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Pin alveusgg/data version
  package-lock.json
  package.json
Due: eslint src --ext .ts,.tsx, prettier --check "src/**/*.{js,jsx,ts,tsx,json}"

Path conditions:
  eslint src --ext .ts,.tsx: any of: *.{js,jsx,ts,tsx,json}
  prettier --check "src/**/*.{js,jsx,ts,tsx,json}": any of: *.{js,jsx,ts,tsx,json}
  prettier --check "src/**/*.{css,scss}": any of: *.{css,scss}
