Repository alveusgg/extension: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,json,html}": ["prettier --write"]
}

Fix grid auto cols/rows classes
  src/pages/overlay/components/overlay/Ambassadors.tsx
Due: eslint --fix, prettier --write

Fix transition transform classes
  src/components/Welcome.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
Due: eslint --fix, prettier --write

Migrate blur usage to v4
  src/components/AmbassadorCard.tsx
  src/components/Tooltip.tsx
  src/pages/panel/components/Nav.tsx
Due: eslint --fix, prettier --write

Apply new Prettier formatting
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/components/Card.tsx
  src/components/Tooltip.tsx
  src/components/Welcome.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/Toggle.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/Settings.tsx
  src/pages/overlay/globals.css
  src/pages/panel/components/Ambassadors.tsx
  src/pages/panel/components/Nav.tsx
  src/pages/panel/globals.css
Due: eslint --fix, prettier --write

Migrate shadow usage to v4
  src/components/Card.tsx
  src/pages/overlay/components/Buttons.tsx
Due: eslint --fix, prettier --write

Set Tailwind CSS location for Prettier
  package.json
Due: prettier --write

Migrate config to v4
  src/pages/overlay/globals.css
  src/pages/panel/globals.css
  src/styles/tailwind.css
  src/tailwind.config.ts
Due: eslint --fix, prettier --write

Update @alveusgg/data version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Migrate to Tailwind v4 (#237)
  package.json
  pnpm-lock.yaml
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/components/Card.tsx
  src/components/Tooltip.tsx
  src/components/Welcome.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/Toggle.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/overlay/components/overlay/Overlay.tsx
  src/pages/overlay/components/overlay/Settings.tsx
  src/pages/overlay/globals.css
  src/pages/panel/components/Ambassadors.tsx
  src/pages/panel/components/Nav.tsx
  src/pages/panel/globals.css
  src/styles/tailwind.css
  src/tailwind.config.ts
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Use ext.alveus.gg for fetching ambassador data
  .env.development.sample
  .env.sample
  RELEASE.md
  src/hooks/useAmbassadors.tsx
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Use ext.alveussanctuary.org rather than ext.alveus.gg
  .env.sample
  RELEASE.md
Due: none

Fix outline highlight width on elements
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/Toggle.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/panel/components/Nav.tsx
Due: eslint --fix, prettier --write

Fix outline highlight width on elements (#240)
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/components/Toggle.tsx
  src/pages/overlay/components/overlay/Ambassadors.tsx
  src/pages/panel/components/Nav.tsx
Due: eslint --fix, prettier --write

Use cached hostname for fetching ambassador data (#219)
  .env.development.sample
  .env.sample
  RELEASE.md
  src/hooks/useAmbassadors.tsx
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Add preconnect in HTML for API hostname
  package.json
  pnpm-lock.yaml
  src/template.html
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Mark ambassador images as lazy
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Explicitly pass process.env into HTML template params
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Add preconnect in HTML for API hostname (#241)
  package.json
  pnpm-lock.yaml
  src/template.html
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Mark ambassador images as lazy (#242)
  src/components/AmbassadorButton.tsx
  src/components/AmbassadorCard.tsx
Due: eslint --fix, prettier --write

Inject process.env as single replacement
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Automatically generate ZIP for production builds
  package.json
  pnpm-lock.yaml
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Update release notes to use generated ZIP
  RELEASE.md
Due: none

Automatically generate ZIP for production builds + fix proces.env (#243)
  RELEASE.md
  package.json
  pnpm-lock.yaml
  src/webpack.config.ts
Due: eslint --fix, prettier --write

Apply new Prettier formatting
  src/pages/overlay/components/overlay/Ambassadors.tsx
Due: eslint --fix, prettier --write

Add a Dependabot group for tailwind dependencies
  .github/dependabot.yml
Due: none

Add a Dependabot group for tailwind dependencies (#246)
  .github/dependabot.yml
Due: none

Add VSCode TS version note to README
  README.md
Due: none

Enable erasableSyntaxOnly
  tsconfig.json
Due: prettier --write

Enable verbatimModuleSyntax
  src/hooks/useAmbassadors.tsx
  src/hooks/useChatCommand.ts
  src/pages/overlay/hooks/useSettings.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Enable noUncheckedIndexedAccess
  src/pages/overlay/components/Buttons.tsx
  src/utils/dateManager.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Use ts-node/esm loader for webpack config
  package.json
  tsconfig.json
Due: prettier --write

Enable erasableSyntaxOnly + verbatimModuleSyntax + noUncheckedIndexedAccess (#249)
  README.md
  package.json
  src/hooks/useAmbassadors.tsx
  src/hooks/useChatCommand.ts
  src/pages/overlay/components/Buttons.tsx
  src/pages/overlay/hooks/useSettings.tsx
  src/utils/dateManager.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Update data (add plant ambassadors)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix down arrow showing when not scrollable
  src/pages/overlay/components/overlay/Ambassadors.tsx
Due: eslint --fix, prettier --write
